.aboutus {

    background-color: rgba(155, 109, 78, 0.753);
    align-items: center;
    text-align: center;
    padding: 40px;
    margin-top: 0;
    max-height: 100%;
}

.aboutus .about-bakery {
    background-color: rgb(248, 233, 224);
    box-shadow: 0px 4px 15px rgba(253, 253, 252, 0.5);
    max-width: 900px;
}

.about-bakery .bakes {
    text-align: center;
}

.about-bakery .bakery-title {
    font-size: 35px;
    color: rgba(65, 40, 4, 0.89);
    text-decoration: underline;
    text-align: center;
}