html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.home-page {
  background-image: url(./images/background1.webp);
  background-size: cover;
  min-width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.home-page .welcome {
  font-size: 40px;
  color: rgba(99, 48, 15, 0.753);
  padding-top: 170px;
  font-weight: 450;
}

.home-page .heading {
  font-size: 60px;
  color: rgba(54, 24, 4, 0.753);
  font-family: "Pacifico", cursive;

}

.home-page .description {
  font-size: 30px;
  color: rgba(54, 24, 4, 0.753);
  font-weight: 400;
}


.product1 {
  padding: 5px;
  background-color: rgba(155, 109, 78, 0.753);
  border-radius: 10px;
  border: 1px solid rgba(155, 109, 78, 0.753);
  margin: 10px;
  width: 200px;
  height: 50px;
  display: inline-block;
  color: black;
  font-weight: 500;
  box-shadow: 0px 4px 15px rgba(253, 253, 252, 0.5);

}

.home-page .details {
  color: rgba(63, 31, 10, 0.753);
  font-weight: 600;
  line-height: 5px;
  margin: 40px;
  padding-bottom: 50px;
}


@media(max-width: 900px) {
  .home-page .welcome {
    font-size: 30px;
    padding-top: 80px;
    font-weight: 300;
  }

  .home-page .heading {
    font-size: 40px;
  }

  .home-page .description {
    font-size: 20px;
    font-weight: 200;
  }

  .product1,
  .product2,
  .product5,
  .product3,
  .product4 {
    padding: 5px 0;
    border-radius: 10px;
    margin: 5px;
    font-weight: 400;

  }

  .home-page .details {
    padding-bottom: 90px;
  }
}

.about-us {
  background-color: rgba(155, 109, 78, 0.753);
  padding: 40px;
  margin-top: 0;
  max-height: 100%;
}

.about-us .about {
  background-color: rgb(214, 181, 160);
  box-shadow: 0px 4px 15px rgba(253, 253, 252, 0.5);
}


.about-us .title {
  color: rgb(61, 31, 6);
  font-weight: 500;
  text-decoration: underline;
  font-size: 30px;
  text-align: center;
}

.about-us .lead {
  font-weight: 500;
}

.about-us .contact {
  color: rgb(99, 8, 61);
  background-color: rgba(252, 162, 200, 0.397);
  box-shadow: 0px 4px 15px rgba(248, 2, 56, 0.5);
  border: 1px solid black;
}