.menu {
    background-image: url('./images/menu1.jpg');
    background-size: cover;
    min-width: 100%;
}

.menu .container {
    max-width: 1000px;
    padding: 50px;
}

.menu .container .row {
    background-color: rgb(233, 204, 171);
}


.menu .name {
    font-size: 80px;
    text-align: center;
    font-family: "Pacifico", cursive;
    color: rgba(54, 24, 4, 0.753);
}

.menu .pastry {
    font-size: 50px;
    text-align: center;
    color: rgba(63, 29, 7, 0.753);
}

.menu .card-title {
    font-size: 40px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.menu .card-text {
    font-size: 20px;

}

.menu .card-text strong {
    font-size: 20px;
    color: rgba(37, 16, 2, 0.753);
    padding-right: 60px;
    font-family: "Teko", sans-serif;
}

.menu .card-text {
    font-weight: 600;
}

.menu img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}